<form action="translate">
	<label>Target key:
		<input type="text">
	 </label>
	<br>

</form>


<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'picture' %>
<% end %>

<%= button_to "Add table to be reindexed", action: "some" %>
